doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Bootstrap V4
    link(rel="stylesheet", href="./css/app.css")
  body
    .container.p-y-3
      h1.m-b-2
        | Hello Bootstrap V4
        small.p-l-1: i.fa.fa-code(aria-hidden="true")
      div
        p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate veritatis iste, tempora aut temporibus, hic praesentium natus nesciunt ullam. Veritatis totam enim deserunt inventore temporibus! Veniam ipsam repudiandae optio possimus.
        p.text-primary Ea, temporibus hic et repudiandae eligendi necessitatibus voluptas tempora error, iusto labore nostrum ullam id iste accusantium mollitia, voluptatibus quo. Quis cumque, itaque minima error voluptate officia fugit quos inventore.
        p.text-success Assumenda sit magni, eum possimus veritatis ut deserunt earum harum error vero quos ipsam incidunt sapiente eligendi mollitia molestiae ipsa atque adipisci repellat illo necessitatibus ratione voluptates, commodi molestias. Quo!
        p.text-info Eum nam, tempora dolorum id vel! Debitis ipsa numquam eaque, obcaecati incidunt, accusantium minima cumque excepturi earum sed tempora. Facilis veritatis ipsum officiis molestias maiores similique incidunt earum ipsam fugiat.
        p.text-warning Nihil ratione quod quae perferendis natus quo ea nemo quibusdam architecto unde odit pariatur, vero reprehenderit facilis quos. Quisquam facilis, qui provident corrupti quasi, perspiciatis laudantium soluta minima sint libero.
        p.text-danger Eos est dicta, ea similique! Esse sequi eligendi in eaque possimus. Saepe nesciunt cupiditate eum veritatis debitis natus doloribus quidem beatae officia sint iure culpa, aliquam aut harum. Magnam, et!
      h1.m-t-3.m-b-2 Card
      .card-deck-wrapper
        .card-deck
          .card
            .card-block
              h4.card-title Hello World
              p.card-text Hello World
              p.card-text Hello World
              p.card-text Hello World
          .card
            .card-block
              h4.card-title Hello World
              p.card-text Hello World
          .card
            .card-block
              h4.card-title Hello World
              p.card-text Hello World
              p.card-text Hello World
      h1.m-t-3.m-b-2 Form
      form
        .form-group.row
          label.form-control-label.col-md-2.text-xs-right(for="email") E-mail
          .col-md-10
            input.form-control#email(type="email", name="email", placeholder="E-mail")
        .form-group.row
          label.form-control-label.col-md-2.text-xs-right(for="name") Name
          .col-md-10
            input.form-control#name(type="text", name="name", placeholder="Name")
        .form-group.row
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-primary.btn-block(type="button") Primary
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-secondary.btn-block(type="button") Secondary
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-success.btn-block(type="button") Success
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-info.btn-block(type="button") Info
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-warning.btn-block(type="button") Warning
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-danger.btn-block(type="button") Danger
        .form-group.row
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-primary-outline.btn-block(type="button") Primary
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-secondary-outline.btn-block(type="button") Secondary
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-success-outline.btn-block(type="button") Success
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-info-outline.btn-block(type="button") Info
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-warning-outline.btn-block(type="button") Warning
          .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-12
            button.btn.btn-danger-outline.btn-block(type="button") Danger
    script(src="./js/app.js")
